<div class="song-item" ng-click="play($event)" ng-class="{'c-playing':currentPlay() }">
    <div class="display">
        <div class="title nowarp">{{::song.title}}</div>
        <div class="author nowarp">by 
            <span ng-repeat="author in song.authors"><a ui-sref="authors({id:{{author.id}}})"
            ng-click="$event.stopPropagation()">{{::author.name}}</a><span ng-if="!$first">, </span></span>
        </div>
    </div>
    <div class="side">
        <div class="glyphicon" ng-click="heartToggle($event)"
        ng-class="{'hearted glyphicon-heart':song.hearted, 'unhearted glyphicon-heart-empty':!song.hearted}"></div>
        <div class="glyphicon glyphicon-plus" ng-click="addEvent($event)"></div>
    </div>
</div>